* {
    box-sizing: border-box;
}

/* body styles for all pages */

body {
    background-image: url(../images/bg.jpeg)
}

header {
	background-color: #fff;
	margin-bottom: 40px;
	border-bottom: 2px solid #ccc;
}

header h1 {
    padding: 20px;
    background-color: #4aaaa5;
    margin: auto 0;
    color: #ffffff;
    float: left;
}

nav {
    float: right;
    
}

.wrapper {
    width: 960px;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
}